@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Monserrat', sans-serif;
  font-size: 1.4rem;
}

a {
  font-size: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}