@import "tailwindcss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.4rem;
}

a {
  font-size: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}